.lay_R96wC3{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:16px;
flex: 1;
min-width: 0;
}
.lay_ihMZH4{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_tupWc4{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_Z9MwV3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:32.00px;
flex-shrink: 0;
height:32.00px;
flex-shrink: 0;
}
.lay_bBny01{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:fit-content;
flex-shrink: 0;
height:36.00px;
flex-shrink: 0;
}
.lay_LfISh3{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100.00%;
flex-shrink: 0;
}
.lay_CIaFC{
display:flex;
flex-direction:column;
gap:8px;
width:100.00%;
flex-shrink: 0;
height:36.00px;
flex-shrink: 0;
}
.lay_zPBWW2{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:8px;
width:55.00%;
flex-shrink: 0;
}
.lay_5u7LY1{
display:flex;
flex-direction:column;
gap:4px;
flex: 1;
min-width: 0;
height:32.00px;
flex-shrink: 0;
}
.lay_bVAPL4{
display:flex;
flex-direction:column;
width:55.00%;
flex-shrink: 0;
}
.lay_rrd882{
display:flex;
flex-direction:row;
gap:2px;
}
.lay_OwXaT1{
display:flex;
flex-direction:row;
gap:12px;
}
.lay_9Tg063{
width:16.00px;
height:16.00px;
}
.lay_iDgu34{
display:flex;
flex-direction:column;
width:40.00%;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_AEgkh1{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
}
.lay_6QOaL{
display:flex;
flex-direction:column;
gap:16px;
align-self: stretch;
flex: 1;
min-height: 0;
}
.lay_EtZWc2{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:26.00px;
flex-shrink: 0;
}
.lay_bpp05{
display:flex;
flex-direction:column;
gap:8px;
width:100.00%;
flex-shrink: 0;
}
.lay_XxTQF3{
display:flex;
flex-direction:row;
width:6.00px;
flex-shrink: 0;
height:6.00px;
flex-shrink: 0;
}
.lay_Qbu0A4{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
}
.lay_kSFpR4{
width:100.00%;
height:100.00%;
}
.lay_1I8dE4{
}
.lay_P4FSH{
display:flex;
flex-direction:row;
width:40.00%;
flex-shrink: 0;
}
.lay_AQcqB1{
display:flex;
flex-direction:column;
flex: 1;
min-width: 0;
}
.lay_YXBsQ2{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:8px;
}
.lay_eVQKb3{
width:100.00%;
height:32.00px;
}
.lay_O8DMU{
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
width:40.00px;
flex-shrink: 0;
height:40.00px;
flex-shrink: 0;
}
.lay_Owo7D2{
display:flex;
flex-direction:row;
}
.lay_wJitk{
align-self: stretch;
max-height:256.00px;
height: auto;
min-height:72.00px;
}
.lay_Xf6QE3{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:0.00px;
flex-shrink: 0;
}
.lay_g5IWf4{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
gap:12px;
flex: 1;
min-width: 0;
}
.lay_aCcEh3{
display:flex;
flex-direction:column;
gap:4px;
width:60.00px;
flex-shrink: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_wqqBp1{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:center;
width:100.00%;
flex-shrink: 0;
}
.lay_3vXMD4{
display:flex;
flex-direction:row;
flex: 1;
min-width: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_o0nPh1{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
width:100.00%;
flex-shrink: 0;
height:60.00px;
flex-shrink: 0;
}
.lay_uvckf4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:40.00px;
flex-shrink: 0;
height:40.00px;
flex-shrink: 0;
}
.lay_XPCIR4{
width:20.00px;
height:20.00px;
}
.lay_h7EqM1{
display:flex;
flex-direction:row;
width:100.00%;
flex-shrink: 0;
flex: 1;
min-height: 0;
}
.lay_L27Dg1{
display:flex;
flex-direction:column;
flex: 1;
min-width: 0;
height:100.00%;
flex-shrink: 0;
}
.lay_QrQog3{
width:60.00%;
height:100.00%;
}
.lay_kqSiJ4{
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
gap:8px;
width:fit-content;
flex-shrink: 0;
height:36.00px;
flex-shrink: 0;
}
.lay_ZT9xM{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:16.00px;
flex-shrink: 0;
}
.lay_eD9uN1{
display:flex;
flex-direction:row;
width:1.00px;
flex-shrink: 0;
align-self: stretch;
}
.lay_eGDG91{
display:flex;
flex-direction:column;
align-items:center;
justify-content:flex-start;
gap:12px;
width:0.00px;
flex-shrink: 0;
height:0.00px;
flex-shrink: 0;
}
.lay_TTnk{
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
width:18.00px;
flex-shrink: 0;
}
.lay_aBPmR1{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:30.00px;
flex-shrink: 0;
height:30.00px;
flex-shrink: 0;
}
.lay_jXzf62{
}
.lay_VocpV1{
display:flex;
flex-direction:row;
justify-content:flex-end;
align-items:center;
gap:4px;
width:100.00%;
flex-shrink: 0;
height:44.00px;
flex-shrink: 0;
}
.lay_Jt1Kh3{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:24.00px;
flex-shrink: 0;
height:24.00px;
flex-shrink: 0;
}
.lay_3TKw84{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:32.00px;
flex-shrink: 0;
}
.lay_xK1ZE4{
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
width:100.00%;
flex-shrink: 0;
align-self: stretch;
}
.lay_os1dJ{
display:flex;
flex-direction:row;
justify-content:center;
align-items:flex-end;
width:100.00%;
flex-shrink: 0;
height:fit-content;
flex-shrink: 0;
}
.vis_6xCVX2{
font-size:42px;
font-weight:100;
font-style:normal;
color:rgb(26,25,23);
text-decoration:none;
}
.vis_y54u53{
background-color:rgb(var(--border_color_light));
text-decoration:none;
}
.vis_zWcph{
text-decoration:none;
opacity:0.00;
transition:opacity 300ms ease, width 300ms ease;
}
.vis_ifJTG3{
font-size:14px;
font-weight:100;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_PZYxz1{
background-color:rgba(0,0,0,0.00);
text-decoration:none;
}
.vis_32r2o1{
background-color:rgb(var(--background));
font-size:14px;
font-weight:300;
color:rgba(var(--text), 0.50);
text-decoration:none;
transition:transform 100ms ease-in-out, left 100ms ease-in-out, top 100ms ease-in-out;
}
.vis_rJD2g{
background-color:rgb(0,0,0);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgba(0,0,0,0.00);
border-radius:0px;
border-style: solid;
text-decoration:none;
transition:120ms ease;
}
.vis_rHkJY4{
font-size:14px;
font-weight:300;
color:rgb(var(--background));
text-decoration:none;
}
.vis_qtSWz2{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:12px;
border-style: solid;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0.00);
text-decoration:none;
}
.vis_SWFkJ2{
text-decoration:none;
}
.vis_66LIe{
background-color:rgb(var(--background));
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
box-shadow:0px 0px 0px 3px rgba(0,0,0,0.00);
text-decoration:none;
}
.vis_ljJP03{
font-size:11px;
font-family:'DM Mono', monospace;
font-weight:400;
color:rgb(168,164,158);
text-decoration:none;
}
.vis_Ff3ZS{
text-decoration:none;
opacity:1.00;
transition:opacity 300ms ease, width 300ms ease;
}
.vis_iltij{
text-decoration:none;
transition:opacity 300ms ease, width 300ms ease;
}
.vis_vfVH61{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.20),0px 1px 3px rgba(0,0,0,0.10);text-decoration:none;
transition:100ms ease;
border-color: color-mix(in srgb, rgba(0,0,0,0.00), black 5.00%);
}
.vis_1cIAV{
font-size:14px;
font-family:IBM Plex Mono, monospace;
font-weight:100;
color:rgb(var(--text));
text-decoration:none;
}
.vis_WvWYZ4{
font-size:42px;
font-weight:100;
font-style:italic;
color:rgb(26,25,23);
text-decoration:none;
}
.vis_OrTGL2{
cursor:pointer;
text-decoration:none;
}
.vis_nvT7b{
color:rgb(var(--text_muted));
text-decoration:none;
transition:120ms ease;
}
.vis_aJ19P1{
font-size:24px;
font-weight:100;
font-style:normal;
color:rgb(var(--text));
text-decoration:none;
}
.vis_d2KdQ1{
font-size:14px;
font-weight:300;
border-width:0px 0px 0px 0px;
border-radius:4px;
border-style: solid;
color:rgb(140,140,140);
text-decoration:none;
}
.vis_2qah31{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.20),0px 1px 3px rgba(0,0,0,0.10);text-decoration:none;
transition:100ms ease;
border-color: color-mix(in srgb, rgba(0,0,0,0.00), black 5.00%);
}
.vis_1R5NH2{
font-size:12px;
font-family:'DM Mono', monospace;
font-weight:600;
color:rgb(107,103,96);
text-decoration:none;
}
.vis_ve0QV{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
box-shadow:0px 1px 8px 4px rgba(0,0,0,0.03);text-decoration:none;
}
.vis_STrpg2{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.20),0px 1px 3px rgba(0,0,0,0.10);text-decoration:none;
transition:100ms ease;
border-color: color-mix(in srgb, rgba(0,0,0,0.00), black 5.00%);
}
.vis_wH0KW3{
background-color:rgba(0,0,0,0.00);
font-size:14px;
font-weight:300;
border-width:0px 0px 0px 0px;
border-style: solid;
color:rgb(var(--text));
outline:none;
text-decoration:none;
}
.vis_N1vSL2{
font-size:24px;
font-weight:100;
font-style:italic;
color:rgb(var(--text));
text-decoration:none;
}
.vis_kDGRM4{
border-width:0px 0px 1px 0px;
border-color:rgb(221,217,210);
border-style: solid;
text-decoration:none;
}
.vis_PGneh2{
fill:rgb(var(--text));
text-decoration:none;
}
.vis_4v66i1{
text-decoration:none;
white-space:pre-wrap;
}
.vis_0vXmS2{
font-size:14px;
font-weight:400;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_YUrKU4{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:0px 0px 0px 0px;
text-decoration:none;
opacity:1.00;
transition:120ms ease;
}
.vis_IVKHe2{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.20),0px 1px 3px rgba(0,0,0,0.10);text-decoration:none;
transition:100ms ease;
border-color: color-mix(in srgb, rgba(0,0,0,0.00), black 5.00%);
}
.vis_PSmxi{
border-width:0px 0px 1px 1px;
border-color:rgb(var(--tint));
border-radius:0px;
border-style: solid;
text-decoration:none;
}
.vis_ke3mr3{
background-color:rgba(var(--tint), 1.00);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.20),0px 1px 3px rgba(0,0,0,0.10);text-decoration:none;
transition:100ms ease;
}
.vis_PAUAr3{
font-size:12px;
font-family:IBM Plex Mono, monospace;
font-weight:100;
color:rgb(26,25,23);
text-decoration:none;
}
.vis_GV6xJ2{
background-color:rgb(var(--background));
border-width:1px 0px 0px 0px;
border-color:rgb(var(--border_color_light));
border-style: solid;
text-decoration:none;
}
.vis_KuG9f1{
border-width:1px 1px 0px 0px;
border-color:rgb(var(--tint));
border-radius:0px;
border-style: solid;
text-decoration:none;
}
.vis_HYE6D4{
background-color:rgba(0,0,0,0.00);
cursor:pointer;
border-width:0px 0px 0px 0px;
text-decoration:none;
transition:150ms ease;
}
.vis_r2Y0H3{
background-color:rgb(255,255,0);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-radius:0px;
border-style: solid;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.20),0px 1px 3px rgba(0,0,0,0.10);text-decoration:none;
transition:100ms ease;
border-color: color-mix(in srgb, rgb(255,255,0), black 5.00%);
}
.vis_n5Dp12{
background-color:rgba(var(--tint), 1.00);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.20),0px 1px 3px rgba(0,0,0,0.10);text-decoration:none;
transition:100ms ease;
}
.vis_I8cxd4{
font-size:14px;
font-weight:300;
color:rgb(140,140,140);
text-decoration:none;
}
.vis_IPj1F{
font-size:24px;
font-weight:100;
color:rgb(255,255,255);
text-decoration:none;
}
.vis_6Tr7C4{
border-width:0px 1px 1px 0px;
border-color:rgb(var(--tint));
border-radius:0px;
border-style: solid;
text-decoration:none;
}
.vis_sO21Y1{
background-color:rgb(var(--background));
border-width:0px 1px 0px 0px;
border-color:rgb(221,217,210);
border-style: solid;
text-decoration:none;
transition:width 150ms ease-in-out;
}
.vis_qgrs52{
font-size:20px;
text-decoration:none;
}
.vis_3ChsN1{
border-width:1px 0px 0px 1px;
border-color:rgb(var(--tint));
border-radius:0px;
border-style: solid;
text-decoration:none;
}
.vis_W3FHF2{
font-size:14px;
font-weight:100;
color:rgb(161,161,170);
text-decoration:none;
}
.vis_zmxRx2{
background-color:rgba(var(--tint), 1.00);
cursor:pointer;
border-width:1px 1px 1px 1px;
border-color:rgb(var(--border_color_light));
border-style: solid;
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.20),0px 1px 3px rgba(0,0,0,0.10);text-decoration:none;
transition:100ms ease;
}
.vis_Y4qEc2{
fill:rgba(0,0,0,0.00);
stroke:rgb(var(--text));
text-decoration:none;
}
.vis_96uD31{
font-size:12px;
font-family:'DM Mono', monospace;
font-weight:400;
color:rgb(168,164,158);
text-decoration:none;
}
.vis_7SrQw2{
background-color:rgba(var(--tint), 1.00);
cursor:pointer;
border-width:0px 0px 0px 0px;
text-decoration:none;
transition:150ms ease;
}
.vis_TPgGR{
font-size:16px;
border-width:0px 0px 0px 0px;
border-style: solid;
outline:none;
text-decoration:none;
}
.vis_Ck12M4{
font-size:12px;
font-family:IBM Plex Mono, monospace;
font-weight:100;
color:rgb(107,103,96);
text-decoration:none;
}
.vis_N8Tfk{
font-size:18px;
text-decoration:none;
}
.vis_AEDs32{
font-size:14px;
font-family:'DM Mono', monospace;
border-width:0px 0px 0px 0px;
border-style: solid;
outline:none;
text-decoration:none;
resize:none;
}
.vis_2c8X11{
background-color:rgb(var(--background));
text-decoration:none;
}
.vis_q2k9R{
background-color:rgb(var(--background));
cursor:pointer;
border-width:0px 0px 0px 0px;
color:rgb(var(--text));
text-decoration:none;
transition:100ms ease;
}
.pos_yX3OZ1{
position:absolute;
right:-6.00px;
bottom:-6.00px;
}
.pos_Nrwr42{
position:absolute;
top:-6.00px;
right:-6.00px;
}
.pos_QekHN3{
position:absolute;
bottom:-6.00px;
left:-6.00px;
}
.pos_7GSMa1{
position:absolute;
top:50.00%;
left:12.00px;
}
.pos_t0s233{
position:relative;
}
.pos_AUI0J{
position:fixed;
top:24.00px;
right:24.00px;
z-index:9999;
}
.pos_4MMng3{
position:absolute;
top:0.00px;
left:0.00%;
z-index:100;
}
.pos_h7ld4{
position:absolute;
}
.pos_VsJJg4{
position:absolute;
top:-6.00px;
left:-6.00px;
}
.pos_e8wtf3{
}
.mapa_sgnwh{
padding:0px 2px 0px 2px;
margin:0px 0px 0px 0px;
}
.mapa_yudDG4{
padding:16px 16px 16px 16px;
margin:12px 0px 0px 0px;
}
.mapa_CrkEb2{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 0px;
}
.mapa_rPfvm1{
padding:8px 8px 8px 8px;
margin:0px 0px 0px 0px;
}
.mapa_XZf5o{
padding:20px 32px 20px 32px;
margin:256px 0px 0px 0px;
}
.mapa_VSOuc2{
padding:6px 12px 6px 12px;
margin:0px 0px 0px 0px;
}
.mapa_j0VVX2{
padding:0px 0px 0px 0px;
margin:8px 0px 0px 0px;
}
.mapa_RM5YV3{
padding:0px 8px 0px 8px;
margin:0px 0px 0px 0px;
}
.mapa_WM2Wg4{
padding:16px 16px 16px 16px;
margin:0px 0px 0px 0px;
}
.mapa_TK4ER4{
padding:0px 12px 0px 12px;
margin:0px 0px 0px 0px;
}
.mapa_pT4FI4{
padding:0px 20px 0px 20px;
margin:0px 0px 0px 0px;
}
.mapa_5SbFr1{
padding:0px 0px 0px 0px;
margin:0px 0px 0px 4px;
}
.mapa_qnAvC3{
padding:7px 14px 7px 14px;
margin:0px 0px 0px 0px;
}
.tran_lmZrb1{
transform: ;
}
.tran_akFuA3{
transform:translateX(0.00px) translateY(0.00px) ;
}
.tran_RVD8E1{
transform:rotateX(0deg) rotateY(180deg) rotateZ(0deg) ;
}
.intr_pXXMT1:hover{
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.00),0px 1px 3px rgba(0,0,0,0.00);text-decoration:none;
background-color: color-mix(in srgb, rgba(var(--tint), 1.00), black 5.00%);
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
transform:scale(1.01) ;
}
.intr_jlJu72:hover{
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.00),0px 1px 3px rgba(0,0,0,0.00);text-decoration:none;
background-color: color-mix(in srgb, rgba(var(--tint), 1.00), black 5.00%);
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
transform:scale(1.01) ;
}
.intr_qDZSa2:hover{
box-shadow:inset 0px -2px 0px rgba(0,0,0,0.00),0px 1px 3px rgba(0,0,0,0.00);text-decoration:none;
background-color: color-mix(in srgb, rgba(var(--tint), 1.00), black 5.00%);
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
transform:scale(1.01) ;
}
.intr_yjnwI1:hover{
fill:rgb(var(--tint));
text-decoration:none;
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
}
.intr_4WVqj1:hover{
background-color:rgb(34,33,96);
text-decoration:none;
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
}
.intr_i9OQQ4:hover{
text-decoration:none;
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
transform:scale(1.05) ;
}
.intr_dB7Mn1:hover{
border-width:1px 1px 1px 1px;
border-color:rgb(var(--tint));
border-radius:0px;
border-style: solid;
text-decoration:none;
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
}
.intr_TUaAf1:hover{
background-color:rgb(var(--highlight_color));
text-decoration:none;
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
}
.intr_xJRAQ4:hover{
color:rgb(var(--text));
text-decoration:none;
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
transform:scale(1.05) rotate(10deg) ;
}
.intr_IoJO6:hover{
background-color:rgb(var(--tint));
color:rgb(255,255,255);
text-decoration:none;
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
}
.intr_gFt3p:hover{
background-color:rgb(255,255,0);
text-decoration:none;
animation:glitch 200ms linear normal  1;
anchor-name:--'DM Mono', monospace;
position-anchor:--'DM Mono', monospace;
}
@keyframes text-glitch-chromatic {
0.00% {
transform: translateX(0px);
opacity:1;
text-shadow:none;
}
20.00% {
transform: translateX(-8px) skewX(-10deg);
text-shadow:-4px 0px 0px rgb(255,0,0),4px 0px 0px rgb(0,255,255);
}
40.00% {
transform: translateX(10px);
opacity:0.60;
text-shadow:6px 2px 0px rgb(0,255,0),-6px -2px 0px rgb(255,0,255);
}
60.00% {
transform: translateX(-6px) translateY(-4px);
opacity:1;
text-shadow:-8px 0px 2px rgb(255,0,0),8px 0px 2px rgb(0,255,255);
}
80.00% {
transform: translateX(3px) skewX(-3deg);
text-shadow:-2px 0px 0px rgb(255,0,0),2px 0px 0px rgb(0,255,255);
}
100.00% {
transform: translateX(0px) translateY(0px) skewX(0deg);
opacity:1;
text-shadow:none;
}
}
@keyframes opaque-popover-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes gen-fade-in {
from { transform: translateY(8.00px); opacity: 0.00; }
to { transform: translateY(0.00px); opacity: 1.00; }
}
@keyframes opaque-popover-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-fade-out {
from { opacity: 1.00; }
to { opacity: 0.00; }
}
@keyframes look-around {
0.00% {
transform: translateX(-1.50px) translateY(0px);
}
16.60% {
transform: translateX(-1.50px) translateY(0px);
}
25.00% {
transform: translateX(1.50px) translateY(0px);
}
41.60% {
transform: translateX(1.50px) translateY(0px);
}
50.00% {
transform: translateX(0px) translateY(-1.50px);
}
66.60% {
transform: translateX(0px) translateY(-1.50px);
}
75.00% {
transform: translateX(0px) translateY(0px);
}
91.60% {
transform: translateX(0px) translateY(0px);
}
100.00% {
transform: translateX(-1.50px) translateY(0px);
}
}
@keyframes opaque-sheet-exit-left {
from { left: 0.00px; }
to { left: -384.00px; }
}
@keyframes opaque-sheet-exit-right {
from { right: 0.00px; }
to { right: -384.00px; }
}
@keyframes opaque-sheet-enter-bottom {
from { bottom: -384.00px; }
to { bottom: 0.00px; }
}
@keyframes opaque-sheet-exit-bottom {
from { bottom: 0.00px; }
to { bottom: -384.00px; }
}
@keyframes opaque-fade-in {
from { opacity: 0.00; }
to { opacity: 1.00; }
}
@keyframes letterLand {
0.00% {
transform: translateY(-4px);
opacity:0.80;
}
50.00% {
transform: translateY(1px);
}
100.00% {
transform: translateY(0px);
opacity:1;
}
}
@keyframes opaque-toast-exit {
from { transform: scale(1.00); opacity: 1.00; }
to { transform: scale(0.95); opacity: 0.00; }
}
@keyframes opaque-sheet-enter-top {
from { top: -384.00px; }
to { top: 0.00px; }
}
@keyframes spin {
from { transform: rotate(0.00deg); }
to { transform: rotate(180.00deg); }
}
@keyframes opaque-tooltip-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes opaque-combobox-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-sheet-enter-left {
from { left: -384.00px; }
to { left: 0.00px; }
}
@keyframes blink {
50.00% {
opacity:0;
}
}
@keyframes opaque-select-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes flipDown {
0.00% {
transform: translateY(-8px);
opacity:0.30;
}
100.00% {
transform: translateY(0px);
opacity:1;
}
}
@keyframes opaque-combobox-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes opaque-table-filter-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-tooltip-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-table-filter-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.90); opacity: 0.00; }
}
@keyframes opaque-table-textarea-exit {
from { transform: scaleY(1.00); opacity: 1.00; }
to { transform: scaleY(0.50); opacity: 0.00; }
}
@keyframes opaque-sheet-background-exit {
from { opacity: 1.00; }
to { opacity: 0.00; }
}
@keyframes gen-pulse {
from { opacity: 1.00; }
to { opacity: 0.40; }
}
@keyframes from-right {
from { transform: translateX(100.00%); }
to { transform: translateX(0.00%); }
}
@keyframes opaque-sheet-enter-right {
from { right: -384.00px; }
to { right: 0.00px; }
}
@keyframes text-glitch {
10.00% {
transform: translateX(-8px) skewX(-12deg);
opacity:0.90;
}
25.00% {
transform: translateX(12px) translateY(-4px) skewX(15deg);
opacity:0;
}
40.00% {
transform: translateX(-6px) translateY(6px) skewX(-8deg);
opacity:1;
}
55.00% {
transform: translateX(4px) translateY(-2px);
opacity:0.50;
}
70.00% {
transform: translateX(-10px) skewX(10deg);
opacity:0.80;
}
85.00% {
transform: translateX(3px) translateY(2px) skewX(-3deg);
opacity:1;
}
100.00% {
transform: translateX(0px) skewX(0deg) translateY(0px);
opacity:1;
}
}
@keyframes gen-slide-up {
from { transform: translateY(12.00px); opacity: 0.00; }
to { transform: translateY(0.00px); opacity: 1.00; }
}
@keyframes to-right {
from { transform: translateX(0.00%); }
to { transform: translateX(100.00%); }
}
@keyframes opaque-sheet-background-enter {
from { opacity: 0.00; }
to { opacity: 1.00; }
}
@keyframes opaque-dialog-exit {
from { transform: scale(1.00); opacity: 1.00; }
to { transform: scale(0.90); opacity: 0.00; }
}
@keyframes opaque-table-textarea-enter {
from { transform: scaleY(0.50); opacity: 0.00; }
to { transform: scaleY(1.00); opacity: 1.00; }
}
@keyframes opaque-toast-enter {
from { transform: translateY(-20.00px); opacity: 0.00; }
to { transform: translateY(0.00px); opacity: 1.00; }
}
@keyframes glitch {
25.00% {
transform: translateX(-10px);
background-color:rgb(255,0,0);
}
35.00% {
transform: translateX(10px) scaleX(1.10);
background-color:rgb(0,255,0);
}
59.00% {
opacity:0;
background-color:rgb(0,0,255);
}
60.00% {
transform: translateX(-10px) scaleX(0.70);
filter: blur(5px);
opacity:1;
}
100.00% {
filter: blur(5px);
background-color:rgb(255,255,0);
}
}
@keyframes gen-spin {
from { transform: rotate(0.00deg); }
to { transform: rotate(360.00deg); }
}
@keyframes opaque-sheet-exit-top {
from { top: 0.00px; }
to { top: -384.00px; }
}
@keyframes opaque-select-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-dialog-enter {
from { transform: scale(0.90); opacity: 0.00; }
to { transform: scale(1.00); opacity: 1.00; }
}
@keyframes opaque-toast-enter-bottom {
from { transform: translateY(20.00px); opacity: 0.00; }
to { transform: translateY(0.00px); opacity: 1.00; }
}
